/app/config/parameters.yml
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/data/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/data/*
/build/
/vendor/
/bin/
/composer.phar
/app/data/*.*
/app/data/*.sqlite
