<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="{{ path('acme_frontend_device_mqtt_devlist') }}">设备列表</a></li>
    <li><a href="{{ path('acme_frontend_device_mqtt_transfer') }}">设备透传</a></li>
    <li><a href="">设备设置</a></li>
    {# <li><a href="{{ path('acme_frontend_device_mqtt_message') }}">设备信息</a></li> #}
  </ul>
</div>