<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">积木派-物联</a>

      {% if app.user %}
        <ul class="nav navbar-nav navbar-right">
            
                <li>
                    {# <a href="{{ path('security_logout') }}"> #}
                    <a href="{{ path('acme_iot_user_logout') }}">
                        <i class="fa fa-sign-out"></i>
                        退出 
                    </a>
                </li>            
        </ul>
      {% endif %}
    </div>
  </div>
</nav>