{% extends 'AcmeWebBundle:Layout:wechat_base.html.twig' %}

{% block title %}WiFi配置{% endblock %}

{% block head_stylesheet %}
  <link rel="stylesheet" href="/css/style_wechat.css">
{% endblock %}    

{% block body_content %}
  <div class="wxapi_container">
    <div class="icon">
      <div class="wifi"></div>
    </div>
    <div class="tips">
      <span class="desc">确定手机已连接WiFi</span>
    </div>

    <div class="action">
      <button class="btn btn_primary" id="startWifi">开始配网</button>
    </div>
  </div>
{% endblock %}

{% block body_javascript %}
  {{ parent() }}  
  <script src="/js/app_wifi.js"> </script>
{% endblock %}