<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>WiFi配置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="/css/style_wechat.css">
  </head>
  <body ontouchstart="">
    <div class="wxapi_container">
      <div class="icon">
        <div class="wifi"></div>
      </div>
      <div class="tips">
        <span class="desc">确定手机已连接WiFi</span>
      </div>

      <div class="action">
        <button class="btn btn_primary" id="startWifi">开始配网</button>
      </div>
    </div>

    <script src="/js/zepto.min.js"></script>
    <script src="/js/jweixin-1.0.0.js"></script>    

    <script>
      wx.config({
          debug: false,
          beta: true,
          appId: '{{ appid }}',
          timestamp: {{ timestamp }},
          nonceStr: '{{ nonceStr }}',
          signature: '{{ signature }}',
          jsApiList: [
            'configWXDeviceWiFi',
            'scanQRCode'
          ]
      });

      wx.error(function (res) {

      });
    </script>    
    <script src="/js/demo.js"> </script>
  </body>
</html>