<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>积木派无线配置</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="/css/style_wechat.css">
</head>
<body ontouchstart="">
<div class="wxapi_container">
    <div class="wxapi_index_container">
      <ul class="label_box lbox_close wxapi_index_list">
        <li class="label_item wxapi_index_item"><a class="label_inner" href="#">积木派无线配置接口</a></li>
      </ul>
    </div>
    <div class="lbox_close wxapi_form">
      <h3 id="menu-basic">设备联网接口</h3>
      <span class="desc">打开设备联网</span>
      <button class="btn btn_primary" id="checkDeviceApi">开始配网</button>
    </div>
  </div>

<script src="/js/jweixin-1.0.0.js"></script>
<script>
  wx.config({
      debug: false,
      appId: '{{ appid }}',
      timestamp: {{ timestamp }},
      nonceStr: '{{ nonceStr }}',
      signature: '{{ signature }}',
      jsApiList: [
        'configWXDeviceWiFi'
      ]
  });
</script>
<script src="/js/zepto.min.js"></script>
<script src="/js/demo.js"> </script>

</body></html>