{% extends 'AcmeWebBundle:Layout:device_base.html.twig' %}
{% import 'AcmeWebBundle:Common/Macros:buttons.html.twig' as buttons %}

{% block title %}设备列表{% endblock %}

{% block body_content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'AcmeWebBundle:Common:mqtt_sidebar.html.twig' %}
            {% include 'AcmeWebBundle:Frontend/Device/MQTT/partials:_dev_list.html.twig' %}
        </div>
    </div>
{% endblock %}


{% block body_javascript %}
    <script src='/js/jquery-1.7.2.min.js'></script>
    <script>
        $(document).ready(function(){
            $("a#dev_delete").click(function(){
                var dev_id = $(this).data("id");
                var r = confirm('删除【'+ $(this).data("name") +'】?','删除提示');

                if(r){
                    // console.log($(this).data("name"));
                    var form = $(this).find("form");
                    form.submit();
                }
            });
        });        
    </script>
{% endblock %}