{% macro show16hex(enable=true, input=false) %}
    {% if enable %}
        <p class="text-left">
            <input id="hexInput{% if input %}Send{% endif %}" type="checkbox">
            16进制

            {% if input %}
                <span class="bg-info">请输入有效16进制数'0-F'</span>
            {% endif %}
        </p>
    {% endif %}
{% endmacro %}


{% macro delete(url, message, disabled=false, modal=true) %}
    {% if disabled %}
        <span class="btn btn-danger disabled">
            <i class="glyphicon glyphicon-trash"></i><span>{{ message is empty ? 'sylius.delete'|trans : message }}</span>
        </span>
    {% else %}
        <form action="{{ url }}" method="post" class="delete-action-form" novalidate>
            <input type="hidden" name="_method" value="DELETE">
        </form>
    {% endif %}
{% endmacro %}
