<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                {{ 'qomo.meta.backend_title'|trans }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">

        {% block stylesheets %}
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>        
        <div class="row main-container">
            {% block content %}
            {% endblock %}   
        </div>     

        {# javascripts... #}
        {% block javascripts %}
           
        {% endblock %}
    </body>
</html>
